/*
oooo d8b  .ooooo.  oooo  oooo   .oooo.o  .ooooo.
`888""8P d88' `88b `888  `888  d88(  "8 d88' `88b
 888     888ooo888  888   888  `"Y88b.  888ooo888
 888     888    .o  888   888  o.  )88b 888    .o
d888b    `Y8bod8P'  `V88V"V8P' 8""888P' `Y8bod8P'
*/
$padding-inline-start:40px;

html, body {font-size:$font-size-base; font-family:$font-family; line-height:1.5rem; background:$color-background; color:$color-onbackground;}
body {overflow-y:scroll;}
ul, ol {padding:0; list-style:none;}
ul.list {list-style-type:disc; padding-inline-start:$padding-inline-start;}
ol.list {list-style-type:decimal; padding-inline-start:$padding-inline-start;}
strong {font-weight:$text-bold;}
em {font-style:italic;}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {font-family:$header-family; line-height:3rem; font-weight:$text-bold; margin-bottom:.5rem;}
h1, .h1 {font-size:$font-size-base * 3; margin-bottom:1rem;}
h2, .h2 {font-size:$font-size-base * 2.2; font-weight:$text-light;}
//h3 {font-size:$font-size-base * 1.75;}
h4, .h4 {font-size:$font-size-base * 1.5; line-height:1.7rem;}
h5, .h5 {font-size:$font-size-base * 1.25; line-height:1.7rem;}
p {margin-bottom:.5rem;}
//p.subnote {font-size:1rem;}
@include media-breakpoint-down(sm) {
    h1, .h1 {font-size:$font-size-base * 2.4; margin-bottom:1rem;}
    h2, .h2 {font-size:$font-size-base * 1.9; font-weight:$text-light;}
}

//small {font-size:.8rem;}
//.nobold {font-weight:normal;}
//.text-bold {font-weight:bold;}
//.clr-light {color:#999!important;}
//.clr-buy {color:$buy-color!important;}
//.clr-sell {color:$sell-color!important;}
//.clr-buy-darker {color:shade-color($buy-color, 18%)!important;}
//.clr-sell-darker {color:shade-color($sell-color, 10%)!important;}
//.clr-white {color:#FFF!important;}
//.split-focus-left {display:grid; grid-template-columns:1fr auto; grid-template-rows:1fr; align-items:center;}
//.split-focus-right {display:grid; grid-template-columns:auto 1fr; grid-template-rows:1fr; align-items:center;}
////.justify-content-center {justify-content:center;}
//.flex-start {justify-content:flex-start;}
//.flex-center {justify-content:center;}
//.flex-end {justify-content:flex-end;}
//table {
//    td.fitwidth, th.fitwidth {width:1px; white-space:nowrap;}
//}
//

// Remove the arrow in buttons for the navbar. Place alongside .dropdown-toggle
//.caret-off::before {display:none;}
//.caret-off::after {display:none!important;}



/*
 .8888b
88   "
88aaa  .d8888b. 88d888b. 88d8b.d8b.
88     88'  `88 88'  `88 88'`88'`88
88     88.  .88 88       88  88  88
dP     `88888P' dP       dP  dP  dP
*/
input[type="text"],
input[type='password']{min-height:calc(1.5em + 1rem + 2px); padding:0.5rem 1rem; font-size:1.25rem;
    &:focus {position:relative; z-index:1;}
    //&::placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder {color:red!important;}
}
ul.form {
    li {margin-bottom:1rem;}
    //label {font-family:$header-family; font-weight:bold;}
}
/*
.icon-prepend {
    span {position:absolute; z-index:2; display:block; width:2.375rem; height:2.375rem; line-height:2.375rem; text-align:center; pointer-events:none; color:#aaa;
    }
    input {padding-left:2.375rem;}
}
textarea {max-height:500px;}
.field-error {font-size:.9rem;}
*/


/*
                           dP
                           88
88d888b. .d8888b. dP   .dP 88d888b. .d8888b. 88d888b.
88'  `88 88'  `88 88   d8' 88'  `88 88'  `88 88'  `88
88    88 88.  .88 88 .88'  88.  .88 88.  .88 88
dP    dP `88888P8 8888P'   88Y8888' `88888P8 dP
*/
//#navbar {
//    .dropstart {
//        a {}
//    }
//}
//.scrolling-down {transform:translateY(-100%); transition:all 0.3s ease-in-out;}
//.scrolling-up {transform:translateY(0); transition:all 0.3s ease-in-out;}