@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700&display=swap');


/* Colors */
$link-color:        #09F;
$color-background:      #efefef;
$color-onbackground:    #333;
$color-primary:         #77c9e1;
$color-onprimary:       #FFF;
$color-onhover-primary: #FFF;
$color-secondary:       #88C0D0;
$color-onsecondary:     $color-onbackground;
$color-onhover-secondary: $color-onbackground;
$color-tertiary:    $color-secondary;
$color-ontertiary:  $color-onsecondary;
$color-onhover-tertiary:  $color-onsecondary;
//$buy-color:     #08BCA8;
//$sell-color:    #FF6962;
//$link-hover-color: $buy-color;
/* Custom */
$btn-hover: saturate(#ebcb8b, 20%);

/* Light mode */
//$lightmode-font:    #333;
//$lightmode-content: #eceff4;
//$lightmode-navbar:  #eceff4;
//$lightmode-footer:  #eceff4;

/* Dark mode */
//$darkmode-font:    #d8dee9;
//$darkmode-content: #4c566a;
//$darkmode-navbar:  #3b4252;
//$darkmode-footer:  #4c566a;


/* Font */
$font-size-base:    1.2rem;
$font-family:       Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-color:        $color-onbackground;
$header-family:     'Nunito Sans', 'League Spartan', Arial, "Helvetica Neue", Helvetica, sans-serif;
$text-light:        200;
$text-bold:         600;
//$gold:              #d1b765;
//$gold-dark:         shade-color($gold, 35);
//$gold-dark-icon:    shade-color($gold, 20);
//$btn-height:        55px;

/* Navbar */
$navbar-padding-y: 0;
/* Custom */
//$navbar-shadow: 16px;
$navbar-height: 80px;


/* Grid scroller */
//$grid-bg-rare:      tint-color(orange, 85);
//$grid-bg-standard:  tint-color($primary, 95);
//$spinner-color:     tint-color($primary, 30);

/* Others */
$enable-negative-margins: true;

$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 4,
    7: $spacer * 5,
    8: $spacer * 6,
    9: $spacer * 7,
    10: $spacer * 8,
    11: $spacer * 9,
    12: $spacer * 10,
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1120px
);

$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$grays: (
        "100": $gray-100,
        "200": $gray-200,
        "300": $gray-300,
        "400": $gray-400,
        "500": $gray-500,
        "600": $gray-600,
        "700": $gray-700,
        "800": $gray-800,
        "900": $gray-900
) !default;