/* Error: Undefined variable.
 *    ,
 * 26 | h3, .h3 {margin-bottom:.5rem; font-weight:$font-weight-bold; line-height:1.8rem;}
 *    |                                           ^^^^^^^^^^^^^^^^^
 *    '
 *   _boilerplate.scss 26:43  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 26 \2502  h3, .h3 {margin-bottom:.5rem; font-weight:$font-weight-bold; line-height:1.8rem;}\a    \2502                                            ^^^^^^^^^^^^^^^^^\a    \2575 \a   _boilerplate.scss 26:43  root stylesheet";
}
